Footer {
  background: #222831;
  height: fit-content;
  padding: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 100px;
  column-gap: 30px;
}

.list a {
  color: #eeeeee;
  gap: 30px;
  text-decoration: none;
  padding: 20px;
  opacity: 0.7;
}

.list a:hover {
  text-decoration: underline;
  text-decoration-color: #00adb5;
  text-decoration-thickness: 0.2rem;
  background: transparent;
}

.address {
  margin-top: 60px;
}

address a {
  color: #eeeeee;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  /* margin-top: 80px; */
  opacity: 0.7;
  border: none;
  border-radius: 50%;
  background: #393e46;
}

.facebook:hover {
  color: #3b5998;
  background-color: #eeeeee;
}

.instagram:hover {
  color: #e95950;
  background-color: #eeeeee;
}

.linkedin:hover {
  color: #0077b5;
  background-color: #eeeeee;
}

.twitter:hover {
  background-color: #eeeeee;
  color: #1da1f2;
}

@media (max-width: 570px) {
  address a {
    padding: 0;
  }
}

@media (max-width: 830px) {
  address a {
    padding: 5px;
  }
}

@media (max-width: 680px) {
  .list a {
    display: flex;
    gap: 10px;
    align-items: start;
  }
}
