.header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  background-color: #222831;
  opacity: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eeeeee;
  box-shadow: 0px 5px 7px rgba(72, 1, 1, 0.2);
  padding: 0 1.5rem;
  opacity: 1;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 20px;
  transform: translateX(-20px);
}

ul {
  display: flex;
  text-align: center;
}

ul li {
  list-style: none;
  font-size: large;
  font-weight: 600;
}

ul li a {
  color: #eeeeee;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0 1em;
}

ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #00adb5;
  text-decoration-thickness: 0.2rem;
  border-radius: 3px;
}

.icon {
  color: "#eeeeee";
  font-size: "2em";
  cursor: "pointer";
  display: none;
}

@media (max-width: 768px) {
  .logo {
    height: 80px;
    width: 80px;
  }

  .icon {
    display: block;
    font-size: 2rem;
  }

  .ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222831;
    color: #eeeeee;
    top: -800px;
    height: 60vh;
    width: 200px;
    position: absolute;
    right: 0;
    z-index: 10;
    transition: all 0.7s;
  }

  .active {
    top: 60%;
    transition: all 0.6s ease-in;
  }
}
