.container {
  display: flex;
  flex-wrap: wrap;
  background: url("/doodleitems.png");
  padding: 50px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

figure {
  background-color: #393e46;
  width: 30%;
  height: 200px;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
}

figure:hover {
  background-color: rgba(21, 13, 63, 0.2); /* Adds a subtle blue hover effect */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  cursor: pointer; /* Adds a pointer to indicate interactivity */
  box-shadow: 0 4px 10px rgba(0, 0, 255, 0.1); /* Adds a slight shadow for emphasis */
}

@media (max-width: 600px) {
  figure {
    width: fit-content;
  }
}

@media (max-width: 400px) {
  figure {
    width: fit-content;
    text-align: center;
  }
}
